src/
__tests__/
src/__tests__/
src/__tests__/*
test/
demo
demo/*
example
example/*
rollup.config.js
tsconfig.json
jest.config.js
*.test.tsx
*.test.ts
*.spec.tsx
*.spec.ts
*.map
node_modules
node_modules/
.vscode/
.gitignore
.prettierrc
.eslintrc
*.log
*.md
LICENSE
demo
example
